*{
    margin: 0;
}

.container{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.chart{
    flex: 1;
    max-width: 400px;
    background-color: rgb(18, 18, 97);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.recharge-plan{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.plan-price{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list li{
    list-style: none;
    margin-bottom: 10px;
}

@media (max-width:1250px) {
    .container{
        flex-direction: column;
        height: 100%;
    }
}